# Ignore all logfiles and tempfiles.
log
tmp

# Ignore related files of Git
.git
.github
.gitignone

# Ignore related files of Docker
.dockerignore
Dockerfile
docker-compose.yml

# Ignore design documentation files
ErModel.mwb

# Ignore files created by simplecov
coverage
