h1 = t('view.listing', model: History.model_name.human(count: @histories.count))

= render 'list', histories: @histories

br

= link_to t('view.new', model: History.model_name.human), new_history_path

br

fieldset
  == render 'batch/batch_process'

.back
  = link_to t('view.back'), root_path
